body {
    background-image: url(images/background.jpg);
    background-repeat: none;
    background-size: cover;
    
}

body, 
.game-button,
#game-over>a {
    color: whitesmoke;
}

body, .game-button {
   
    text-shadow: 4px 4px 3px black;
    font-family: 'Cabin', sans-serif;
}

#header {
    text-align: center;
    margin-bottom: 25px;
}

#header>h1 {
    font-size: 60px;
}

#header>h3,
#round-winner,
#game-winner {
    font-size: 30px;
}
#player-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: transparent;
}

.game-button {
  border: none;
  background-color: transparent;
  font-size: 35px;
  font-weight: 700;
}

.game-button>img {
    max-width: 350px;
    max-height: auto;
    aspect-ratio: 3/3;
    object-fit: contain;
    transition: .2s;
}

img:hover {
    transform: scale(1.2);
}
#score{
  font-size: 75px;
  text-align: center;
  color: yellow;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 4rem 6rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: black;
    text-shadow: none;
    font-weight: 700;

}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    justify-content: center;
}

#game-over {
    text-decoration: none;
    background-color: blue;
    border: none;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px 0px; 
    
}

#game-over>a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 120px;
}